:root {
}

body {
  font-family: "Poppins", sans-serif;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
}

footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}

main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #272044;
  margin: 18px 0;
}

main h5 {
  color: #272044;
  opacity: 0.3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin-top: 0;
  text-transform: uppercase;
}

header a {
  color: #272044;
  text-decoration-line: none;
}

main {
  margin: 0px 120px;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.9)
    ),
    url("images/rocky-outcrop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 1400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
  text-decoration: none;
  opacity: 0.6;
  color: #ffffff;
}

footer p {
  opacity: 0.6;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding: 80px 120px;
  grid-gap: 60px;
  margin-top: 50px;
}

.grid-col-1 {
  line-height: 2;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("images/peak-district-landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 1400px;
  padding: 200px 0;
  text-align: center;
}

.learn-more-button {
  background-color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: 20px;
  letter-spacing: 3px;
  line-height: 1.5;
  margin: 0 auto;
  margin-top: 32px;
  padding: 16px 32px;
  text-align: center;
  width: 180px;
}

.section-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

.responsive-image {
  max-width: 100%;
}

@media (max-width: 960px) {
  .hero {
    padding: 60px 0px;
  }
  header h1 {
    font-size: 50px;
  }

  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 14px;
  }

  .hero {
    margin-bottom: 0px;
  }
  .footer-grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 30px 50px;
  }

  .section-one {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  main {
    margin: 50px 10px;
  }

  main h5 {
    margin-top: 10px;
  }

  .section-one-paragraph {
    text-align: center;
  }
}
